/* Reset some default styles */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f5c16d;
    color: #4c3c32;
}

header {
    background-color: #f3eded;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 15px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    max-width: 100px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav a {
    text-decoration: none;
    color: #4c3c32;
    font-weight: bold;
    transition: color 0.3s;
}

nav a:hover {
    color: #7e685b;
}



.hero {
    text-align: center;
    padding: 150px 0;
    background-image: url('https://png.pngtree.com/background/20231101/original/pngtree-3d-render-of-a-cozy-coffee-shop-or-restaurant-space-picture-image_5821799.jpg');
    background-size: cover;
    color: white;
    background-attachment: fixed;
    width: 95%px;
}

.hero h1 {
    font-size: 50px;
    margin-bottom: 20px;
    text-shadow:0 2px 5px rgba(0, 0, 0, 0.575);

}

.hero p {
    font-size: 30px;
    margin-bottom: 40px;
    text-shadow:0 2px 5px rgba(0, 0, 0, 0.575);
}

.cta-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4c3c32;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.cta-button:hover {
    background-color: #7e685b;
}

.featured-products {
    text-align: center;
    padding: 30px;
}

.featured-products h2 {
    font-size: 32px;
    margin-bottom: 20px;
}

.products, .coffees, .pastries, .team {
    display: flex;
    justify-content: center;
    margin: 20px 0px;
}

.product {
    margin: 0 15px;

}
.product img, .coffee img, .pastry img, .person img {
    border-radius: 10px;
    width:  200px;
    height: 200px;
    object-fit: cover;
}

footer {
    background-color: #8B4513;
    color: white;
    text-align: center;
    padding: 20px 0;
}

footer .contact-info {
    margin-bottom: 10px;
}

footer .social-media img {
    width: 24px;
    margin: 0 5px;
}

footer nav {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}

footer nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

footer nav a {
    text-decoration: none;
    color: wheat;
    font-weight: bold;
    transition: color 0.3s;
}

footer nav a:hover {
    color: #7e685b;
}

footer .newsletter-signup {
    margin-top: 15px;
}

footer .newsletter-signup label {
    display: block;
    margin-bottom: 10px;

}

footer .newsletter-signup input[type="email"] {
    padding: 10px;
    border-radius: 5px;
    border: none;
    width: 200px;
    margin-bottom: 10px;

}

footer .newsletter-signup button {
    padding: 10px 20px;
    background-color: #D2691E;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

footer .newsletter-signup button:hover {
    background-color: #b55a1e;
}


.menu {
    padding: 100px 0;
    text-align: center;
}

.menu h1 {
    font-size: 40px;
    margin-bottom: 20px;
}

.menu h3 {
    font-size: 20px;

}

.coffee img, .person img {
    border-radius: 10px;
    margin: 0 15px;
}

.about {
    padding: 100px 0;
    text-align: center;
    background-color: #df8a30;
}

.about h2 {
    font-size: 30px;
    margin-bottom: 20px;
}

.about p {
    font-size: 18px;
    max-width: 800px;
    margin: 20px auto;
}

.contact {
    padding: 100px 0;
    text-align: center;
    background-color: #aa530e;
    color: white;
}

.contact h2 {
    font-size: 30px;
    margin-bottom: 20px;
}

.contact p {
    font-size: 18px;
    margin-bottom: 40px;
}

.contact-details p{
    margin: 0px;
}

.contact-container{
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.contact-form{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}

.contact-input{
    width: 400px;
    height: 50px;
    border: none;
    outline: none;
    padding-left: 25px;
    font-weight: 500;
    color: #666;
    border-radius: 12px;
}

.contact-form textarea {
    height: 50px;
    padding-top: 15px;
    border-radius: 20px;
}
.contact-form button {
    display: flex;
    align-items: center;
    padding: 15px 30px;
    font-size: 12px;
    gap: 10px;
    border: none;
    border-radius: 12px;
    color: #666;
}

.map iframe {
    border-radius: 12px;
}

footer {
    background-color: #4c3c32;
    color: white;
    text-align: center;
    padding: 20px 0;
}


